
<div class="col-lg-6">
    <div class="card" style="">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{img_url}}" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <a class="card-text" href="{{book_url}}" target="_blank">See it on Google</a>
            <p class="card-text author">Author: {{author}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>










<<!--
<article class="book">
  <div class="title">
    <a href="/book/{{id}}"><span>Title: {{title}}</span></a>
    <span>By: {{author}}</span>
  </div>
  <div class="meta">
    <div class="meta">
      {{vote_count}} 
      {{!-- {{format_plural "point" vote_count}}  --}}
      by {{user.username}} 
      {{!-- on {{format_date created_at}} --}}
      |
      <a href="/book/{{id}}">{{comments.length}} 
      {{!-- {{format_plural "comment" comments.length}} --}}
      </a>
    </div>

</article>
-->