<article class="book">
  <div class="title">
    <span>Title: <a href="/book/{{id}}">{{title}}</a></span>
    <p><span>By: {{author}}</span></p>
  </div>
    <div class="meta">
      {{vote_count}} {{format_plural "point" vote_count}} 
      submitted by {{user.username}} 
      on {{format_date created_at}}
      |
      <a href="/book/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
<p></p>

</article>